# =========================
# SERVER
# =========================
PORT=3000
NODE_ENV=development

# =========================
# DATABASE
# =========================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tpc_db
DB_USER=postgres
DB_PASSWORD=performix2025

DATABASE_URL=postgresql+psycopg2://postgres:performix2025@localhost:5432/tpc_db

# =========================
# JWT AUTH
# =========================
JWT_SECRET=dcc58db4194a349d1645cc48e888c72984b5087c4046916b6dbcd40f153f392fd93469ec6dea45a4b99132753bac44d7b712d79776b0c32c20ad37507e1e29b9
JWT_EXPIRES_IN=15m

REFRESH_TOKEN_SECRET=fef4b2a98c0f0c71946909494441b223e18bb09727c6e6494b92a7a1043eb132b6c6341c45dd8ac4298b17b8bfab7dba34668a4c9ce602feaf6295b08221d31c
REFRESH_TOKEN_EXPIRES_IN=7d

# =========================
# SESSION
# =========================
SESSION_SECRET=3b64ff39fe214201e4748a7a9ab07196cef33b1ce8247569c40dadd50beac102d5d6163df9fa948a89f99126cb7855d4a2871bafd955e817c9e90099685acef5

# =========================
# FRONTEND
# =========================
FRONTEND_URL=http://localhost:5174

# =========================
# SECURITY
# =========================
BCRYPT_SALT_ROUNDS=12